<!DOCTYPE html>
<html lang="es">

<!-- =======================
=====    Head   ======
=========================-->
<%= erb :"/bloques/head" %>

<body class="light">

<div class="kode-wraper">

  <!-- =======================
=====    Header   ======
=========================-->
  <%= erb :"/bloques/header" %>


  <!-- =======================
=====    Body   ======
=========================-->
  <%= yield %>


  <!-- =======================
=====    Footer   ======
=========================-->
  <%= erb :"/bloques/footer" %>

</div>


<!-- =======================
=====     JS   ======
=========================-->
<%= erb :"/bloques/scripts" %>

</body>
</html>